<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <style>
        h1 {
            text-align: center;
            background-color: black;
            color: yellowgreen;
            font-size: 70px;
        }
        label {
            text-align: center;
            color: rgb(7, 10, 1);
            font-size: 30px;
        }
    </style>
</head>

<body>
    <h1>Login Form</h1>
    <form align="center" method="post" action="/getdata">
        <p>
            <label>Name : <input type="text" placeholder="Enter Name" name="name" /></label>
        </p>

        <p>
            <label>Email: <input type="text" placeholder="Enter Email" name="email" /></label>
        </p>

        <p>
            <label>Address: <input type="text" placeholder="Enter Address" name="address" /></label>
        </p>

        <p>
            <label>Phone-No: <input type="text" placeholder="Enter Phone-No" name="phoneno" /></label>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
</body>

</html>